<% if @user == current_user %>
	<h4>Welcome <%= current_user.email %>! </h4>
	<%= render "notifications" %>
	<%= render 'shared/post_form' %> 
	<%= render 'feed'%>
<% end %>

<%= params.inspect %>
<%= current_user.id %>


