<h4><%= link_to gravatar_for(@user), user_posts_path(@user) %>
All of <%= link_to @user.email, user_posts_path(@user) %>'s posts:</h4>
<p>---------------------------------------------------</p>
<% @user.posts.order('created_at DESC').each do |post| %>
	<li><h4><%= post.content %></h4></li>
	<p><b><%= link_to pluralize(post.likes.count, "person"), likes_path(post_id: post.id)%></b> <%= post.likes.count == 1 ? 'likes' : 'like' %> this post</p>
	<%= render 'shared/like_form', post: post %>
	<% post.comments.each do |comment| %>
		<p><b><%= link_to comment.user.email, user_posts_path(comment.user) %> says:</b></p>
		 <%= comment.content %>
	<% end %>
	<p>---------</p>
		<b><p>Write your comment below...</p></b>
	<%= render 'shared/comment_form', post: post %>
	<p>---------------------------------------------------</p>
<% end %>

