<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><%= link_to "Facebook", root_path %></li>
        

        <% if user_signed_in? %>
        <li><%= link_to "Profile", user_posts_path(current_user) %></li>
  			<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  			<li><%= link_to 'All Users', users_path %></li>
  			<li><%= link_to 'My Friends', friends_path %></li>
		<% else %>
  			<li><%= link_to('Login', new_user_session_path) %></li>
  		<% end %>
    </ul>
</div>